* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background: #060B25;
}

.container {
    display: flex;

}

.header {
    width: auto;
    min-width: none;
    max-width: 1900;
    display: flex;
    justify-content: space-between;
}

.header>nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    content: "X.POWER";
    /* background: #060B25; */
    /* 126*48 */
    top: 53.59px;
    right: 100px;
    left: 1214px;
    font-family: yekan bakh;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0;
}



nav>.home {
    content: "main page";
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: #6F4EFD;
    top: 60;
    ;
}

nav>.menu-item {
    content: "main page";
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    top: 60;
    ;
}






.cta {


    padding: 16px 8px;
    border-bottom: 1px;
    border-radius: 16px;
    /* top: 50px;
    left: 100px; */
    /* padding: 10px 25px; */
    /* gap: 10px; */
    /* border: 1px solid red; */
    background-color: #6F4EFD;
}

.cta .ctl-user {
    content: " ورود و ثبت نام";
}

div.typography {

    /* img:Topographic 6.png */
    /* border-width: 0px; */
    /* border-style: solid; */
    /* border-color: #FFFFFF0A; */

    width: 100%;




    border-radius: 16px;
    border-bottom: 1px;
    padding: 16px 8px;
    display: flex;
    justify-self: start;
    position: relative;
    text-align: center;
    color: white;

    border: 1px solid blue;
    align-self: flex-end;
    width: min-content;
    height: min-content;
}



.typography>img {

    /* Bottom left text */

    /* position: absolute; */
    bottom: 8px;
    left: 16px;
    max-width: 600px;


}

.right {
    display: flex;
    background-image: url(./assets/back-g-patern.svg);
    flex-direction: column;
    width: 80%;
}

.right .left {
    align-self: flex-end;
}

.left {
    display: flex;
}

.everything {
    /* هر آنچه برای رسیدن به اندام ایده آل نیاز دارید */
    overflow: auto;
    width: 644px;
    height: 174px;
    /*  left: 696px;*/
    top: 208px;
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: right;
    background: linear-gradient(269.32deg, #FFFFFF -3.57%, #BDADFF 113.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.profesional h2 {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));
    background-clip: text;
    color: transparent;
}

.profesional {
    content: "تخصصی ترین وبسایت بدنسازی درایران با مجوز رسمی";
    display: flex;
    color: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));

    /* width: 644px;
    height: 174px;
    left: 696px; */
    top: 238px;
}

.background-pattern>img {
    display: block;
    background-image: url(./assets/back-g-patern.svg);
    width: 100px;
    background-color: #060B25;
}

.cup {
    background-color: rgba(111, 78, 253, 1);
    width: 50px;
    height: 50px;
    border-radius: 100000px;
}

.cup>img {
    transform: translate(-14%, 20%);

}

.class {}

.sub-title {}

.Topographic {
    /* Topographic 6 */

    position: absolute;
    left: -52.01%;
    right: -50.97%;
    top: -22.45%;
    bottom: 80.22%;
}

.Capa {
    /* Capa 1 */
    position: absolute;
    left: -52.01%;
    right: -50.97%;
    top: -22.45%;
    bottom: 80.22%;
}


/* Frame 5 */
position: absolute;
width: 704.36px;
height: 684.58px;
left: -7px;
top: 140px;



/* Group 3 */

position: absolute;
width: 704.36px;
height: 684.58px;
left: 0px;
top: 0px;



/* Mask group */

position: absolute;
width: 574.7px;
height: 574.7px;
left: 48.64px;
top: 109.89px;



/* Ellipse 130 */

position: absolute;
left: 6.91%;
right: 11.5%;
top: 16.05%;
bottom: 0%;

background: #6F4EFD;

.ottf {
    /* 1245 1 */

    position: absolute;
    width: 704.36px;
    height: 704.36px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.ottf {
    /* 1245 2 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
    opacity: 0.52;
    filter: blur(76px);
}

.ottf {
    /* 1245 3 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.Star {
    /* Star */

    position: absolute;
    width: 62px;
    height: 62px;
    left: 113px;
    top: 65px;
}

.Group {
    /* Group */

    position: absolute;
    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}

.Vector {
    /* Vector */

    position: absolute;
    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}

.one {
    /* 01 */
    background: #FFFFFF;

}
















.Vector {
    /* Vector */

    position: absolute;
    left: -48.18%;
    right: 18.02%;
    top: -21.16%;
    bottom: 89.06%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Vector {
    /* Vector */

    position: absolute;
    left: -49.08%;
    right: 13.43%;
    top: -21.47%;
    bottom: 88.54%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Vector */

    position: absolute;
    left: -50.05%;
    right: 8.79%;
    top: -21.79%;
    bottom: 88%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Vector */

    position: absolute;
    left: -51%;
    right: 4.14%;
    top: -22.12%;
    bottom: 87.47%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.vector {
    /* Vector */

    position: absolute;
    left: -52.01%;
    right: -0.55%;
    top: -22.45%;
    bottom: 86.92%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Frame 5 */

    position: absolute;
    width: 704.36px;
    height: 684.58px;
    left: -7px;
    top: 140px;
}

.Group {
    /* Group 3 */

    position: absolute;
    width: 704.36px;
    height: 684.58px;
    left: 0px;
    top: 0px;
}

.Ellipse {
    /* Ellipse 129 */

    box-sizing: border-box;

    position: absolute;
    left: 9.65%;
    right: 8.76%;
    top: 13.96%;
    bottom: 2.09%;

    border: 1.1145px solid #FFFFFF;
}

.Ellipse {
    /* Ellipse 130 */

    position: absolute;
    left: 6.91%;
    right: 11.5%;
    top: 16.05%;
    bottom: 0%;

    background: #6F4EFD;
}

.mask {
    /* Mask group */

    position: absolute;
    width: 574.7px;
    height: 574.7px;
    left: 48.64px;
    top: 109.89px;
}

.Ellipse {
    /* Ellipse 130 */

    position: absolute;
    left: 6.91%;
    right: 11.5%;
    top: 16.05%;
    bottom: 0%;

    background: #6F4EFD;
}

.ott {
    /* 1245 1 */

    position: absolute;
    width: 704.36px;
    height: 704.36px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.ott {
    /* 1245 2 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
    opacity: 0.52;
    filter: blur(76px);
}

.ott {
    /* 1245 3 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.Star {

    position: absolute;
    width: 62px;
    height: 62px;
    left: 113px;
    top: 65px;
}


.Group {

    position: absolute;
    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}


/* Vector */

position: absolute;
left: 8.29%;
right: 8.27%;
top: 8.41%;
bottom: 8.39%;

.a01 {
    background: #FFF;
}