* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background: #060B25;
}

.container {
    display: flex;

}

.header {
    width: auto;
    min-width: none;
    max-width: 1900;
    display: flex;
    justify-content: space-between;
}

.header>nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    content: "X.POWER";
    /* background: #060B25; */
    /* 126*48 */
    top: 53.59px;
    right: 100px;
    left: 1214px;
    font-family: yekan bakh;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0;
}



nav>.home {
    content: "main page";
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: #6F4EFD;
    top: 60;
    ;
}

nav>.menu-item {
    content: "main page";
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    top: 60;
    ;
}






.cta {


    padding: 16px 8px;
    border-bottom: 1px;
    border-radius: 16px;
    /* top: 50px;
    left: 100px; */
    /* padding: 10px 25px; */
    /* gap: 10px; */
    /* border: 1px solid red; */
    background-color: #6F4EFD;
}

.cta .ctl-user {
    content: " ورود و ثبت نام";
}

div.typography {

    /* img:Topographic 6.png */
    /* border-width: 0px; */
    /* border-style: solid; */
    /* border-color: #FFFFFF0A; */

    width: 100%;




    border-radius: 16px;
    border-bottom: 1px;
    padding: 16px 8px;
    display: flex;
    justify-self: start;
    position: relative;
    text-align: center;
    color: white;

    border: 1px solid blue;
    align-self: flex-end;
    width: min-content;
    height: min-content;
}



.typography>img {

    /* Bottom left text */

    /* position: absolute; */
    bottom: 8px;
    left: 16px;
    max-width: 600px;


}

.right {
    display: flex;
    background-image: url(./assets/back-g-patern.svg);
    flex-direction: column;
    width: 80%;
}

.right .left {
    align-self: flex-end;
}

.left {
    display: flex;
}

.everything {
    /* هر آنچه برای رسیدن به اندام ایده آل نیاز دارید */
    overflow: auto;
    width: 644px;
    height: 174px;
    /*  left: 696px;*/
    top: 208px;
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: right;
    background: linear-gradient(269.32deg, #FFFFFF -3.57%, #BDADFF 113.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.profesional h2 {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));
    background-clip: text;
    color: transparent;
}

.profesional {
    content: "تخصصی ترین وبسایت بدنسازی درایران با مجوز رسمی";
    display: flex;
    color: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));

    /* width: 644px;
    height: 174px;
    left: 696px; */
    top: 238px;
}

.background-pattern>img {
    display: block;
    background-image: url(./assets/back-g-patern.svg);
    width: 100px;
    background-color: #060B25;
}

.cup {
    background-color: rgba(111, 78, 253, 1);
    width: 50px;
    height: 50px;
    border-radius: 100000px;
}

.cup>img {
    transform: translate(-14%, 20%);

}

.class {}

.sub-title {}

/* Topographic 6 */

position: absolute;
left: -52.01%;
right: -50.97%;
top: -22.45%;
bottom: 80.22%;



/* Capa 1 */

position: absolute;
left: -52.01%;
right: -50.97%;
top: -22.45%;
bottom: 80.22%;



/* Vector */

position: absolute;
left: 67.76%;
right: 29.62%;
top: -3.55%;
bottom: 102.9%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 66.04%;
right: 28.12%;
top: -3.97%;
bottom: 102.27%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 63.97%;
right: 26.24%;
top: -4.43%;
bottom: 101.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 61.99%;
right: 24.45%;
top: -4.88%;
bottom: 100.92%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 59.95%;
right: 22.61%;
top: -5.34%;
bottom: 100.24%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 57.91%;
right: 20.78%;
top: -5.8%;
bottom: 99.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 55.88%;
right: 18.94%;
top: -6.26%;
bottom: 98.88%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 53.79%;
right: 17.06%;
top: -6.73%;
bottom: 98.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 51.81%;
right: 15.26%;
top: -7.18%;
bottom: 97.52%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 49.77%;
right: 13.44%;
top: -7.64%;
bottom: 96.84%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 47.73%;
right: 11.6%;
top: -8.1%;
bottom: 96.17%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 45.64%;
right: 9.71%;
top: -8.57%;
bottom: 95.48%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 43.65%;
right: 7.93%;
top: -9.02%;
bottom: 94.81%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 41.57%;
right: 6.04%;
top: -9.49%;
bottom: 94.12%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 39.58%;
right: 4.25%;
top: -9.94%;
bottom: 93.45%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 37.55%;
right: 2.41%;
top: -10.4%;
bottom: 92.77%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 35.51%;
right: 0.57%;
top: -10.86%;
bottom: 92.09%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 33.47%;
right: -1.27%;
top: -11.32%;
bottom: 91.42%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 31.44%;
right: -3.1%;
top: -11.78%;
bottom: 90.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 29.35%;
right: -4.99%;
top: -12.25%;
bottom: 90.04%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 27.36%;
right: -6.78%;
top: -12.7%;
bottom: 89.38%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 25.33%;
right: -8.62%;
top: -13.16%;
bottom: 88.7%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 24.63%;
right: -10.24%;
top: -13.32%;
bottom: 88.46%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 23.84%;
right: -11.97%;
top: -13.5%;
bottom: 88.21%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 22.98%;
right: -13.77%;
top: -13.69%;
bottom: 87.95%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 22.06%;
right: -15.62%;
top: -13.91%;
bottom: 87.66%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 21.1%;
right: -17.51%;
top: -14.14%;
bottom: 87.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 20.1%;
right: -19.44%;
top: -14.39%;
bottom: 87.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 19.06%;
right: -21.41%;
top: -14.65%;
bottom: 86.7%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 17.97%;
right: -23.48%;
top: -14.93%;
bottom: 86.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 16.89%;
right: -25.46%;
top: -15.19%;
bottom: 86.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 15.77%;
right: -27.51%;
top: -15.57%;
bottom: 85.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 14.62%;
right: -29.6%;
top: -15.96%;
bottom: 85.11%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 13.46%;
right: -31.7%;
top: -16.36%;
bottom: 84.64%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 12.29%;
right: -33.81%;
top: -16.77%;
bottom: 84.16%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 11.1%;
right: -35.93%;
top: -17.17%;
bottom: 83.68%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 9.86%;
right: -38.11%;
top: -17.59%;
bottom: 83.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 8.71%;
right: -40.2%;
top: -18%;
bottom: 82.72%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 7.5%;
right: -42.32%;
top: -18.41%;
bottom: 82.23%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 6.28%;
right: -44.47%;
top: -18.83%;
bottom: 81.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 5.02%;
right: -46.67%;
top: -19.27%;
bottom: 81.23%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 3.87%;
right: -48.77%;
top: -19.69%;
bottom: 80.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 2.6%;
right: -50.97%;
top: -20.13%;
bottom: 80.22%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -20.87%;
right: 115.12%;
top: -11.35%;
bottom: 110.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.09%;
right: 114.46%;
top: -11.47%;
bottom: 109.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.33%;
right: 113.81%;
top: -11.67%;
bottom: 108.99%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.74%;
right: 113.21%;
top: -11.91%;
bottom: 108.4%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -22.37%;
right: 112.24%;
top: -12.15%;
bottom: 107.8%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -23%;
right: 111.26%;
top: -12.4%;
bottom: 107.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -23.63%;
right: 110.28%;
top: -12.64%;
bottom: 106.59%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -24.27%;
right: 109.29%;
top: -12.89%;
bottom: 105.99%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -24.91%;
right: 108.3%;
top: -13.13%;
bottom: 105.39%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -25.55%;
right: 107.31%;
top: -13.38%;
bottom: 104.78%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -26.25%;
right: 106.26%;
top: -13.63%;
bottom: 104.17%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -26.84%;
right: 105.33%;
top: -13.86%;
bottom: 103.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -27.48%;
right: 104.33%;
top: -14.11%;
bottom: 102.97%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -28.18%;
right: 103.29%;
top: -14.36%;
bottom: 102.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -28.78%;
right: 102.34%;
top: -14.6%;
bottom: 101.77%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -29.47%;
right: 101.29%;
top: -14.85%;
bottom: 101.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -30.07%;
right: 100.35%;
top: -15.08%;
bottom: 100.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -30.71%;
right: 99.35%;
top: -15.33%;
bottom: 99.96%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -31.35%;
right: 98.35%;
top: -15.57%;
bottom: 99.35%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -32%;
right: 97.36%;
top: -15.82%;
bottom: 98.75%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -32.66%;
right: 96.37%;
top: -16.06%;
bottom: 98.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -33.29%;
right: 95.37%;
top: -16.31%;
bottom: 97.55%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -33.97%;
right: 90.97%;
top: -16.54%;
bottom: 97.1%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -34.59%;
right: 86.6%;
top: -16.74%;
bottom: 96.68%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -35.25%;
right: 82.16%;
top: -16.97%;
bottom: 96.24%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -35.98%;
right: 77.65%;
top: -17.21%;
bottom: 95.78%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -36.64%;
right: 73.23%;
top: -17.43%;
bottom: 95.34%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -37.48%;
right: 68.75%;
top: -17.68%;
bottom: 94.88%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -38.53%;
right: 64.28%;
top: -17.96%;
bottom: 94.4%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -39.59%;
right: 59.78%;
top: -18.27%;
bottom: 93.87%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -40.52%;
right: 55.16%;
top: -18.59%;
bottom: 93.34%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -41.47%;
right: 50.53%;
top: -18.9%;
bottom: 92.81%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -42.42%;
right: 45.9%;
top: -19.22%;
bottom: 92.28%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -43.37%;
right: 41.27%;
top: -19.54%;
bottom: 91.75%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -44.32%;
right: 36.63%;
top: -19.86%;
bottom: 91.21%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -45.32%;
right: 31.95%;
top: -20.2%;
bottom: 90.66%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -46.22%;
right: 27.35%;
top: -20.51%;
bottom: 90.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -47.18%;
right: 22.72%;
top: -20.83%;
bottom: 89.61%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -48.18%;
right: 18.02%;
top: -21.16%;
bottom: 89.06%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -49.08%;
right: 13.43%;
top: -21.47%;
bottom: 88.54%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -50.05%;
right: 8.79%;
top: -21.79%;
bottom: 88%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -51%;
right: 4.14%;
top: -22.12%;
bottom: 87.47%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -52.01%;
right: -0.55%;
top: -22.45%;
bottom: 86.92%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Frame 5 */

position: absolute;
width: 704.36px;
height: 684.58px;
left: -7px;
top: 140px;



/* Group 3 */

position: absolute;
width: 704.36px;
height: 684.58px;
left: 0px;
top: 0px;



/* Ellipse 129 */

box-sizing: border-box;

position: absolute;
left: 9.65%;
right: 8.76%;
top: 13.96%;
bottom: 2.09%;

border: 1.1145px solid #FFFFFF;


/* Ellipse 130 */

position: absolute;
left: 6.91%;
right: 11.5%;
top: 16.05%;
bottom: 0%;

background: #6F4EFD;


/* Mask group */

position: absolute;
width: 574.7px;
height: 574.7px;
left: 48.64px;
top: 109.89px;



/* Ellipse 130 */

position: absolute;
left: 6.91%;
right: 11.5%;
top: 16.05%;
bottom: 0%;

background: #6F4EFD;


/* 1245 1 */

position: absolute;
width: 704.36px;
height: 704.36px;
left: 0px;
top: 0px;

background: url(1245.png);


/* 1245 2 */

position: absolute;
width: 704.36px;
height: 641.31px;
left: 0px;
top: 0px;

background: url(1245.png);
opacity: 0.52;
filter: blur(76px);


/* 1245 3 */

position: absolute;
width: 704.36px;
height: 641.31px;
left: 0px;
top: 0px;

background: url(1245.png);


/* Star */

position: absolute;
width: 62px;
height: 62px;
left: 113px;
top: 65px;



/* Group */

position: absolute;
left: 8.29%;
right: 8.27%;
top: 8.41%;
bottom: 8.39%;



/* Vector */

position: absolute;
left: 8.29%;
right: 8.27%;
top: 8.41%;
bottom: 8.39%;

/* 01 */
background: #FFFFFF;




























/* Vector */

position: absolute;
left: 67.76%;
right: 29.62%;
top: -3.55%;
bottom: 102.9%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 66.04%;
right: 28.12%;
top: -3.97%;
bottom: 102.27%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 63.97%;
right: 26.24%;
top: -4.43%;
bottom: 101.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 61.99%;
right: 24.45%;
top: -4.88%;
bottom: 100.92%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 59.95%;
right: 22.61%;
top: -5.34%;
bottom: 100.24%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 57.91%;
right: 20.78%;
top: -5.8%;
bottom: 99.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 55.88%;
right: 18.94%;
top: -6.26%;
bottom: 98.88%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 53.79%;
right: 17.06%;
top: -6.73%;
bottom: 98.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 51.81%;
right: 15.26%;
top: -7.18%;
bottom: 97.52%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 49.77%;
right: 13.44%;
top: -7.64%;
bottom: 96.84%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 47.73%;
right: 11.6%;
top: -8.1%;
bottom: 96.17%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 45.64%;
right: 9.71%;
top: -8.57%;
bottom: 95.48%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 43.65%;
right: 7.93%;
top: -9.02%;
bottom: 94.81%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 41.57%;
right: 6.04%;
top: -9.49%;
bottom: 94.12%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 39.58%;
right: 4.25%;
top: -9.94%;
bottom: 93.45%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 37.55%;
right: 2.41%;
top: -10.4%;
bottom: 92.77%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 35.51%;
right: 0.57%;
top: -10.86%;
bottom: 92.09%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 33.47%;
right: -1.27%;
top: -11.32%;
bottom: 91.42%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 31.44%;
right: -3.1%;
top: -11.78%;
bottom: 90.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 29.35%;
right: -4.99%;
top: -12.25%;
bottom: 90.04%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 27.36%;
right: -6.78%;
top: -12.7%;
bottom: 89.38%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 25.33%;
right: -8.62%;
top: -13.16%;
bottom: 88.7%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 24.63%;
right: -10.24%;
top: -13.32%;
bottom: 88.46%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 23.84%;
right: -11.97%;
top: -13.5%;
bottom: 88.21%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 22.98%;
right: -13.77%;
top: -13.69%;
bottom: 87.95%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 22.06%;
right: -15.62%;
top: -13.91%;
bottom: 87.66%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 21.1%;
right: -17.51%;
top: -14.14%;
bottom: 87.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 20.1%;
right: -19.44%;
top: -14.39%;
bottom: 87.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 19.06%;
right: -21.41%;
top: -14.65%;
bottom: 86.7%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 17.97%;
right: -23.48%;
top: -14.93%;
bottom: 86.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 16.89%;
right: -25.46%;
top: -15.19%;
bottom: 86.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 15.77%;
right: -27.51%;
top: -15.57%;
bottom: 85.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 14.62%;
right: -29.6%;
top: -15.96%;
bottom: 85.11%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 13.46%;
right: -31.7%;
top: -16.36%;
bottom: 84.64%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 12.29%;
right: -33.81%;
top: -16.77%;
bottom: 84.16%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 11.1%;
right: -35.93%;
top: -17.17%;
bottom: 83.68%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 9.86%;
right: -38.11%;
top: -17.59%;
bottom: 83.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 8.71%;
right: -40.2%;
top: -18%;
bottom: 82.72%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 7.5%;
right: -42.32%;
top: -18.41%;
bottom: 82.23%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 6.28%;
right: -44.47%;
top: -18.83%;
bottom: 81.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 5.02%;
right: -46.67%;
top: -19.27%;
bottom: 81.23%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 3.87%;
right: -48.77%;
top: -19.69%;
bottom: 80.74%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: 2.6%;
right: -50.97%;
top: -20.13%;
bottom: 80.22%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -20.87%;
right: 115.12%;
top: -11.35%;
bottom: 110.03%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.09%;
right: 114.46%;
top: -11.47%;
bottom: 109.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.33%;
right: 113.81%;
top: -11.67%;
bottom: 108.99%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -21.74%;
right: 113.21%;
top: -11.91%;
bottom: 108.4%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -22.37%;
right: 112.24%;
top: -12.15%;
bottom: 107.8%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -23%;
right: 111.26%;
top: -12.4%;
bottom: 107.19%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -23.63%;
right: 110.28%;
top: -12.64%;
bottom: 106.59%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -24.27%;
right: 109.29%;
top: -12.89%;
bottom: 105.99%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -24.91%;
right: 108.3%;
top: -13.13%;
bottom: 105.39%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -25.55%;
right: 107.31%;
top: -13.38%;
bottom: 104.78%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -26.25%;
right: 106.26%;
top: -13.63%;
bottom: 104.17%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -26.84%;
right: 105.33%;
top: -13.86%;
bottom: 103.58%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -27.48%;
right: 104.33%;
top: -14.11%;
bottom: 102.97%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -28.18%;
right: 103.29%;
top: -14.36%;
bottom: 102.36%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -28.78%;
right: 102.34%;
top: -14.6%;
bottom: 101.77%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -29.47%;
right: 101.29%;
top: -14.85%;
bottom: 101.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -30.07%;
right: 100.35%;
top: -15.08%;
bottom: 100.56%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -30.71%;
right: 99.35%;
top: -15.33%;
bottom: 99.96%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -31.35%;
right: 98.35%;
top: -15.57%;
bottom: 99.35%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -32%;
right: 97.36%;
top: -15.82%;
bottom: 98.75%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -32.66%;
right: 96.37%;
top: -16.06%;
bottom: 98.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -33.29%;
right: 95.37%;
top: -16.31%;
bottom: 97.55%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -33.97%;
right: 90.97%;
top: -16.54%;
bottom: 97.1%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -34.59%;
right: 86.6%;
top: -16.74%;
bottom: 96.68%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -35.25%;
right: 82.16%;
top: -16.97%;
bottom: 96.24%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -35.98%;
right: 77.65%;
top: -17.21%;
bottom: 95.78%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -36.64%;
right: 73.23%;
top: -17.43%;
bottom: 95.34%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -37.48%;
right: 68.75%;
top: -17.68%;
bottom: 94.88%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -38.53%;
right: 64.28%;
top: -17.96%;
bottom: 94.4%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -39.59%;
right: 59.78%;
top: -18.27%;
bottom: 93.87%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -40.52%;
right: 55.16%;
top: -18.59%;
bottom: 93.34%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -41.47%;
right: 50.53%;
top: -18.9%;
bottom: 92.81%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -42.42%;
right: 45.9%;
top: -19.22%;
bottom: 92.28%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -43.37%;
right: 41.27%;
top: -19.54%;
bottom: 91.75%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -44.32%;
right: 36.63%;
top: -19.86%;
bottom: 91.21%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -45.32%;
right: 31.95%;
top: -20.2%;
bottom: 90.66%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -46.22%;
right: 27.35%;
top: -20.51%;
bottom: 90.15%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -47.18%;
right: 22.72%;
top: -20.83%;
bottom: 89.61%;

border: 2px solid rgba(255, 255, 255, 0.04);


/* Vector */

position: absolute;
left: -48.18%;
right: 18.02%;
top: -21.16%;
bottom: 89.06%;

border: 2px solid rgba(255, 255, 255, 0.04);

.Vector {
    /* Vector */

    position: absolute;
    left: -49.08%;
    right: 13.43%;
    top: -21.47%;
    bottom: 88.54%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Vector */

    position: absolute;
    left: -50.05%;
    right: 8.79%;
    top: -21.79%;
    bottom: 88%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Vector */

    position: absolute;
    left: -51%;
    right: 4.14%;
    top: -22.12%;
    bottom: 87.47%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.vector {
    /* Vector */

    position: absolute;
    left: -52.01%;
    right: -0.55%;
    top: -22.45%;
    bottom: 86.92%;

    border: 2px solid rgba(255, 255, 255, 0.04);
}

.Frame {
    /* Frame 5 */

    position: absolute;
    width: 704.36px;
    height: 684.58px;
    left: -7px;
    top: 140px;
}

.Group {
    /* Group 3 */

    position: absolute;
    width: 704.36px;
    height: 684.58px;
    left: 0px;
    top: 0px;
}

.Ellipse {
    /* Ellipse 129 */

    box-sizing: border-box;

    position: absolute;
    left: 9.65%;
    right: 8.76%;
    top: 13.96%;
    bottom: 2.09%;

    border: 1.1145px solid #FFFFFF;
}

.Ellipse {
    /* Ellipse 130 */

    position: absolute;
    left: 6.91%;
    right: 11.5%;
    top: 16.05%;
    bottom: 0%;

    background: #6F4EFD;
}

.mask {
    /* Mask group */

    position: absolute;
    width: 574.7px;
    height: 574.7px;
    left: 48.64px;
    top: 109.89px;
}

.Ellipse {
    /* Ellipse 130 */

    position: absolute;
    left: 6.91%;
    right: 11.5%;
    top: 16.05%;
    bottom: 0%;

    background: #6F4EFD;
}

.ott {
    /* 1245 1 */

    position: absolute;
    width: 704.36px;
    height: 704.36px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.ott {
    /* 1245 2 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
    opacity: 0.52;
    filter: blur(76px);
}

.ott {
    /* 1245 3 */

    position: absolute;
    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.Star {

    position: absolute;
    width: 62px;
    height: 62px;
    left: 113px;
    top: 65px;
}


.Group {

    position: absolute;
    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}


/* Vector */

position: absolute;
left: 8.29%;
right: 8.27%;
top: 8.41%;
bottom: 8.39%;

.a01 {
    background: #FFF;
}