* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

:root {
    --primary: #6F4EFD;
}

body {
    background: #060B25;
    background-image: url(./assets/back-g-patern.svg);
}

.container {
    display: flex;
    flex-wrap: wrap;


}

.container>.first-box {
    display: flex;
}


.header {
    position: absolute;
    width: auto;
    min-width: 300px;
    max-width: 1900px;
    display: flex;
    justify-content: space-between;
}

.header>nav {
    display: flex;
    justify-content: space-between;
}

.header>.logo {
   
    /* background: #060B25; */
    /* 126*48 */
    top: 153.59px;
    right: 100px;
    left: 1214px;
    font-family: yekan bakh;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0;
}



nav>.home {
    
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary);
    top: 60px;
    
}

nav>.menu-item {
  
    width: 101px;
    height: 31px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    top: 60;
    ;
}






.cta {
    width: 130px;

    padding: 16px 8px;
    border-bottom: 1px;
    border-radius: 10px;
    /* top: 50px;
    left: 100px; */
    /* padding: 10px 25px; */
    /* gap: 10px; */
    /* border: 1px solid red; */
    background-color: var(--primary);
}

.cta .ctl-user span {
    /* ورود و ثبت نام */
}

div.typography {

    /* img:Topographic 6.png */
    /* border-width: 0px; */
    /* border-style: solid; */
    /* border-color: #FFFFFF0A; */
    width: 100%;
    border-radius: 16px;
    padding: 16px 8px;
    display: flex;
    color: white;
    border: 1px solid blue;
    align-self: flex-start;
    justify-content: right;
}



.typography>img {

    /* Bottom left text */


    /* bottom: 8px;
    left: 16px; */
    /* max-width: 600px; */
    width: 100%;
    min-width: 200px;

}

.container>.right {
    display: flex;

    flex-direction: column;
    width: 80%;

}

.container>.right .left {
    align-self: flex-end;
    display: flex;
}



.everything {
    /* هر آنچه برای رسیدن به اندام ایده آل نیاز دارید */
    padding-right: 2rem;
    overflow: auto;
    width: 644px;
    height: 174px;


    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: right;
    background: linear-gradient(269.32deg, #FFFFFF -3.57%, #BDADFF 113.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

.profesional h2 {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));
    background-clip: text;
    color: transparent;
}

.profesional {
    padding-right: 2rem;
    content: "تخصصی ترین وبسایت بدنسازی درایران با مجوز رسمی";
    display: flex;
    color: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(111, 78, 253, 0.64));

    /* width: 644px;
    height: 174px;
    left: 696px; */
    top: 238px;
}

.background-pattern>img {
    display: block;
    background-image: url(./assets/back-g-patern.svg);
    width: 100px;
    background-color: #060B25;
}

.cup {
    position: relative;
    background-color: rgba(111, 78, 253, 1);
    width: 50px;
    height: 50px;
    border-radius: 100000px;
    left: -600px;
    top: 61px;
    z-index: 5;
}

.cup>img {
    transform: translate(-14%, 20%);
    /*don't change*/
}

.box {
    display: flex;
    padding: 2rem;
    width: 600px;

    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    align-items: center;
    margin: 3rem;
    backdrop-filter: blur(28px)
}

.numbers {
    display: flex;
    width: 91px;
    height: 350px;
    padding: 16px 8px;
    border-bottom: 1px;
    border-radius: 16px;
    gap: 53px;
}



.content {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 91px;
    font-weight: 700;

    font-size: 46px;
}

.content .number {
    display: flex;
    width: 135px;
    height: 91px;
    font-weight: 700;

    font-size: 46px;
}

.content .text {
    width: 147px;
    height: 91px;
    color: #8F82CA;
    font-weight: 600;
    text-align: center;
    font-size: 21px;

}


.Topographic {
    /* Topographic 6 */


    left: -52.01%;
    right: -50.97%;
    top: -22.45%;
    bottom: 80.22%;
}

.Capa {
    /* Capa 1 */

    left: -52.01%;
    right: -50.97%;
    top: -22.45%;
    bottom: 80.22%;
}

.frame {
    /* Frame 5 */

    width: 704.36px;
    height: 684.58px;
    left: -7px;
    top: 140px;
}

.Group {
    /* Group 3 */


    width: 704.36px;
    height: 684.58px;
    left: 0px;
    top: 0px;
}

.maskg {
    /* Mask group */


    width: 574.7px;
    height: 574.7px;
    left: 48.64px;
    top: 109.89px;
}

.Ellipse {
    /* Ellipse 130 */


    left: 6.91%;
    right: 11.5%;
    top: 16.05%;
    bottom: 0%;

    background: var(--primary);
}

.ottf {
    /* 1245 1 */


    width: 704.36px;
    height: 704.36px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.ottf {
    /* 1245 2 */


    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
    opacity: 0.52;
    filter: blur(76px);
}

.ottf {
    /* 1245 3 */


    width: 704.36px;
    height: 641.31px;
    left: 0px;
    top: 0px;

    background: url(1245.png);
}

.Star {
    /* Star */


    width: 62px;
    height: 62px;
    left: 113px;
    top: 65px;
}

.Group {
    /* Group */


    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}

.Vector {
    /* Vector */


    left: 8.29%;
    right: 8.27%;
    top: 8.41%;
    bottom: 8.39%;
}

.one {
    /* 01 */
    background: #FFFFFF;

}

.container>.full-width {
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.full-width .slope {
    transform: rotate(-3deg);
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    background-color: #684CEB;
    text-align: center;
    margin: 0 auto;
}

.services {
    margin: 2rem auto;
}

.our-s {
    color: var(--primary);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.our-s span {
    font-weight: 700;
    font-size: 34px;
}

.card-s-container {
    display: flex;
    width: 100%;
    max-width: 1900px;
    display: flex;
    margin: auto;
}

.card-s-container .svg-white {
    fill: #fff;
    background-color: transparent;
    width: 20px;
    fill: red;
    /* fill="red" stroke="none"*/
}

/*
.my-svg rect {
  fill: blue;
}

.my-svg rect.my-color-blue {
  fill: red;
}

.my-svg rect.my-color-purple {
  fill: green;
}
*/

.card-s-container .card-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 297px;
    min-height: 425px;
    background-color: #FFFFFF1A;
    backdrop-filter: blur(28px);
    border-radius: 16px;
    /* padding: 16px 8px; */
    margin: 64px 8.5px 0 8.5px;
    padding: 2rem;

}

.card-s-container .card-s h3 {
    font-weight: 700;
    font-size: 25px;
    font-family: yekan;
}

.card-s-container .card-s img {
    display: flex;
    justify-content: center;


    /* width: 60px;
    height: 60px; */
}

.card-s-container .card-s .card-header {
    font-weight: 700;
    font-size: 25px;
}

.card-s:hover {
    background-color: #6F4EFD;
    border: 1px solid white;

}

.spaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}

.products {
    width: 1621px;
    min-height: 741px;
    overflow: hidden;

}

.cards-product {
    transform: translateY(100px);
    /*animation*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    /* flex-shrink: 0; */
    height: 500px;
    width: 70%;
    margin: 0 auto;
    overflow-y: hidden;
}

.cards-product .card-body {
    margin: 0 20px;
    position: relative;
    width: 297px;
    min-height: 397px;
    border-radius: 15px;
    cursor: pointer;

}

.cards-product .card-body:hover {
    background-color: var(--primary);
}

.cards-product .card-body img {
    width: 220px;
    position: relative;
    top: -58px;
    margin: auto;
}

.productinfo>.pname {
    flex-wrap: nowrap;
}

.productinfo {
    display: flex;
    flex-direction: column;
}

.productinfo>.fee {
    display: flex;
    flex-direction: row;
}

.add-to-basket {
    display: flex;
    background-color: var(--primary);
    font-weight: 900;
    font-size: 1.5rem;
    justify-content: center;
    margin: 4.7rem auto 0 auto;
    transform: translatey(0.8rem);
    width: 1.9rem;
    height: 1.9rem;
    /* text-align: center; */

}

.card-body:hover .add-to-basket {
    display: none;
}

.card-body .hover {
    display: none;

}

.card-body:hover .hover {
    background-color: #fff;
    color: #6F4EFD;
    display: flex;
    border-radius: 16px;
    width: max-content;
    margin: 4rem auto 0 auto;
    transform: translateY(2rem);

}

.triple>.c {
    border-radius: 100000px;
    width: 10px;
    height: 10px;
}

.triple>.active {
    background-color: var(--primary);
}

.triple>.deact {
    background-color: rgba(255, 255, 255, 0.17);
    /*background: #6F4EFD;*/

}

.left>.img>img {
    width: 500px;

}

.container2>.left {
    display: flex;
    position: relative;
    width: 50%;
}

.container2>.left>img {
    position: absolute;
}

.container2>.left>.right {
    position: relative;

    background-color: rgba(255, 255, 255, 0.24);
    right: -500px;
    top: 0;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.container2>.left>.right span {}

.container2>.left>.right>img {
    width: 96px;
    height: 96px;
}

.container2>.left>.buttom {
    position: absolute;
    top: 350px;
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 36px 0;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

.container2>.left>.buttom img {
    width: 200px;
    height: 200px;
}

.container2>.right {
    display: flex;
    width: 50%;
    height: 100px;

}

.container2 {
    display: flex;

}

.videos {
    display: flex;

}